doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Logitec SA
    link(rel="stylesheet", href="/styles/index.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")

  body
    header(id="header")
      div
        h1 Logitec SA
        button(onclick="toggleMenu()")
          i(class="fas fa-bars fa-2x")
      nav(id="menu")
        a(href="#about")
          p About Us
          div(class="selector")
        a(href="#people")
          p Our People
          div(class="selector")
        a(href="#fleet")
          p Our Fleet
          div(class="selector")
        a(href="#work")
          p Our Work
          div(class="selector")
        a(href="#quote")
          p Request Quote
          div(class="selector")
        a(href="#contact")
          p Contact Us
          div(class="selector")

    section(id="about")
      div(class="image")
      a(name="about")
      ul
        li West Coast Based
        li Trusted Cargo Freighting
        li Anywhere in South Africa
        li Level 1 BBBEE
        li Live Tracking

    section(id="people")
      a(name="people")
      div
        div(class="image", id="p1")
        p Ed Drommond
        p Driver
      div
        div(class="image", id="p2")
        p Edd Marynn Pensky
        p Operations Supervisor
      div
        div(class="image", id="p3")
        p Eddy Skipper Reese
        p Chief Executive Officer

    section
      a(name="fleet")
      div
        div(class="image") Image
        p Make and Model
      div
        div(class="image") Image
        p Make and Model
      div
        div(class="image") Image
        p Make and Model

    section
      a(name="work")
      div
        div(class="image") Image
        p Description
      div
        div(class="image") Image
        p Description

    section(id="quote")
      a(name="quote")
      form(action="/quote", method="post")
        label(for="description") Job Description
        textarea(name="description", id="description", required)
        label(for="email") Email Address
        input(type="email", name="email", id="email", required)
        label(for="number") Contact Number
        input(name="number", id="number")
        label(for="robot") I'm not a Robot
        input(type="checkbox", id="robot", required)
        button(type="submit") Send Request

    footer
      a(name="contact")
      p Physical Address:
      p Email Address:
      p Office Number:
      p WhatsApp Number:
      p Office Hours:

  script(src="/scripts/index.js")
