doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Logitec SA
    link(rel="stylesheet", href="/styles/index.css")

  body
    header
      div
        h1 Logitec SA
        button Menu
      nav
        a(href="#") About Us
        a(href="#") Our People
        a(href="#") Our Fleet
        a(href="#") Our Work
        a(href="#") Request a Quote
        a(href="#") Contact Us

    section
      h2 About Us
      div(class="image") Image
      ul
        li West Coast Based
        li Trusted Cargo Freighting
        li Anywhere in South Africa
        li Level 1 BBBEE
        li Live Tracking

    section
      h2 Our People
      div
        div(class="image") Image
        p Name
        p Title
      div
        div(class="image") Image
        p Name
        p Title

    section
      h2 Our Fleet
      div
        div(class="image") Image
        p Make and Model
      div
        div(class="image") Image
        p Make and Model
      div
        div(class="image") Image
        p Make and Model

    section
      h2 Our Work
      div
        div(class="image") Image
        p Description
      div
        div(class="image") Image
        p Description

    section(id="quote")
      h2 Request a Quote
      form(action="/quote", method="post")
        label(for="description") Job Description
        textarea(name="description", id="description", required)
        label(for="email") Email Address
        input(type="email", name="email", id="email", required)
        label(for="number") Contact Number
        input(name="number", id="number")
        label(for="robot") I'm not a Robot
        input(type="checkbox", id="robot", required)
        button(type="submit") Send Request

    section
      h2 Contact Us
      p Physical Address:
      p Email Address:
      p Office Number:
      p WhatsApp Number:
      p Office Hours:
