doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/todo.css")
    title Logitec SA

  body
    ul
      h1 To do:
      ul
        h3 Header
        li Spacing
        li Colour
        li Links
        li Floating
        li Menu Hide & Unhide
        li Button Icon

      ul
        h3 Landing
        li Full Page
        li Image
        li Introduction Text

      li Images
      li Copy Writing
      li Quote Request
      li Contact us
