body
  margin: 0
  h1
    margin: 0

header
  display: flex
  flex-flow: nowrap column
  width: 100%
  min-height: 4rem
  justify-content: center
  position: fixed
  z-index: 1
  transition: 0.2s
  background-color: white
  box-shadow: 0 0.5rem 0.5rem 0 gray
  div
    display: flex
    flex-flow: nowrap row
    justify-content: space-between
    margin-left: 0.5rem
    margin-right: 0.5rem
  nav
    display: flex
    flex-flow: nowrap column
    overflow: hidden
    a
      width: 100%
      text-align: center
      display: flex
      flex-flow: nowrap column
      justify-content: space-around
      align-items: center
      text-decoration: none
      p
        margin: 0
        color: black
        font-weight: bold
        font-size: 16pt
      .selector
        width: 0
        height: 0.3rem
        transition: 0.2s
        background-color: blue

section
  display: flex
  flex-flow: wrap row
  h2
    width: 100%
    text-align: center
  div
    display: flex
    flex-flow: nowrap column
    align-items: center
    width: 100%

.image
  background-color: #DDD
  width: 100%
  height: 15rem

#about
  border: none
  height: 100vh
  background-image: url("../images/landing.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  align-items: center
  .image
    width: 100%
    height: 100%
    position: absolute
    z-index: -1

#people
  padding: 5rem
  justify-content: center
  div
    .image
      margin: 2rem
      margin-bottom: 1rem
      border-radius: 50%
      box-shadow: 0 0.5rem 0.5rem 0 black
      background-repeat: no-repeat
      background-size: cover
    #p1
      background-image: url("../images/Ed.jpg")
    #p2
      background-image: url("../images/Edd.png")
    #p3
      background-image: url("../images/Eddy.jpg")
    p
      margin: 0
      font-weight: bold
      font-size: 14pt


#quote
  justify-content: center
  background-color: #569
  form
    display: flex
    flex-flow: nowrap column
    background-color: #458
    width: 100%
    padding: 2rem
    textarea
      margin: 0.5rem 0 1rem 0
      padding: 0.5rem
    input
      margin: 0.5rem 0 1rem 0
      padding: 0.5rem
    button
      padding: 0.7rem
      font-size: 14pt
      font-weight: bold
      border-radius: 0.5rem
      background-color: orangered
      cursor: pointer
      border: 0
      box-shadow: 0rem 0.5rem 1rem 0.2rem #333

footer
  background-color: #569
  display: flex
  flex-flow: nowrap column
  padding: 1rem
  p
    margin: 0

@media(min-width: 50rem)
  header
    flex-flow: nowrap row
    justify-content: space-between
    align-items: center
    button
      display: none
    nav
      flex-flow: nowrap row
      height: auto !important
      a
        margin: 0.5rem
        &:hover
          .selector
            width: 100%

  section
    justify-content: space-around
    div
      width: auto
      .image
        width: 20rem
        height: 20rem
        border-radius: 0.5rem
        box-shadow: 0 0.2rem 0.5rem 0 black

  #quote
    form
      max-width: 50rem
      border-bottom-left-radius: 1rem
      border-bottom-right-radius: 1rem
      textarea
        height: 4rem
